.main {
	height: auto;
}

.nothingFound {
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	font-weight: 500;
}

.nothingFound p, .nothingFound img {
	width: 40%;
	height: auto;
}

.nothingFound img {
	width: 20%;
	height: auto;
}

.nothingFound img:hover {
	transition: 0.5s;
	transform: rotate(30deg)
}

.containerFilterFlypages {
	display: flex;
	justify-content: space-between;
}