.mainFilter {
  width: 170px;
}

.filterTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.filterSubtitle {
  font-size: 18px;
  font-weight: 600;
}

.priceFilter, .genderFilter, .categoryFilter {
  margin-top: 40px;
  margin-bottom: 30px;
}

.priceInputContainer {
  width: 100%;
  margin-top: -35px;
}

.priceInput {
  width: 100%;
  display: block;
  font-size: 19px;
  color: #555555;
  margin-top: 40px;
  margin-bottom: 20px;
}

.priceInput div {
  display: flex;
  align-items: center;
}

.priceFromTo {
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 4px;
}

.priceInputFields {
  justify-content: space-between;
}

.priceInputField {
  display: flex;
  margin-bottom: 12px;
}

.minInput,
.maxInput {
  flex: 1;
  width: 80px;
  height: 35px;
  padding: 5px;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 9px;
  text-align: center;
  border: 0;
  background: #6D6D6D;
}

.minInput::-webkit-outer-spin-button,
.minInput::-webkit-inner-spin-button,
.maxInput::-webkit-outer-spin-button,
.maxInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sliderContainer {
  width: 100%;
  height: 6px;
  position: relative;
  background: #f6f6f6;
  border-radius: 5px;
}

.priceSlider {
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #888888;
}

.rangeInput {
  position: relative;
}

.minRange,
.maxRange {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -5px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.minRange::-webkit-slider-thumb,
.maxRange::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #6D6D6D;
  pointer-events: auto;
  -webkit-appearance: none;
  appearance: none;
}

.minRange::-webkit-slider-thumb:hover,
.maxRange::-webkit-slider-thumb:hover {
  background: #555555;
}

.minRange::-moz-range-thumb,
.maxRange::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #ffffff;
  pointer-events: auto;
  border: none;
}

.checkboxGroup {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  font-size: 12px;
  min-height: 15px;
}

.checkboxLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #6D6D6D;
  border: 1px solid #464646;
  border-radius: 3px;
}

.checkboxLabel:hover input ~ .checkmark {
  background-color: #e0e0e0;
}

.checkboxLabel input:checked ~ .checkmark {
  background-color: #464646;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxLabel input:checked ~ .checkmark:after {
  display: block;
}

.checkboxLabel .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.resetButton {
  margin: 40px auto 0;
  width: 100%;
  height: 44px;
  background-color: #851212;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  display: block;
}

.resetButton:hover {
  opacity: 0.9;
}