.main {
  height: auto;
}

.contactInfoMainTitle, .detailsTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contactInfoContainer {
  display: flex;
  justify-content: start;
  gap: 150px
}

.contactInfoTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contactInfoText {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
}

.mainContactInfo div a {
  display: list-item;
  list-style-type: none;
}

.social {
  margin-bottom: 5px;
}

.social img {
  width: 27px;
  height: auto;
}

.socialName {
  font-size: 15px;
  font-weight: normal;
}

.detailsText {
  font-size: 15px;
  font-weight: normal;
}